<div class="flex d-inline-flex w-100 justify-content-between align-items-center mt-5">
  <div class="mx-5 d-flex w-25 justify-content-between align-items-center">
    <h1 class="mx-2"><b>Users table</b></h1>
  </div>

  <div class="back_btn d-flex">
    <button class="btn btn-outline-dark" routerLink="/profile">Back to profile</button>
  </div>
</div>

<div class="table_b d-flex flex-row">
  <table class="table">
    <thead>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Locale</th>
      <th scope="col">Subscriptions</th>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let user of endUsers">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td>{{user.locale.name}}</td>
        <td>{{user.subscription}}</td>
        <td>
          <button type="button" class="btn btn-danger me-3" (click)="delete(user.id)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
