<div class="col-lg-6 col-md-12 math-stat">
  <div class="head">
    <h2>Math statistic data card</h2>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        {{currentLossType}}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li *ngFor="let type of lossTypes">
          <a class="dropdown-item" href="#" (click)="changeLossType(type)">{{type}}</a>
        </li>
      </ul>
    </div>
  </div>

  <canvas baseChart [data]="barChartData" [options]="barChartOptions" [legend]="barChartLegend" [type]="'bar'">
  </canvas>
  <div class="calc-wrapper" *ngIf="calculatedStatisticData != undefined">
    <div class="calc-box">
      <b>{{calculatedStatisticData.max}}</b>
      <span>Max</span>
    </div>
    <div class="calc-box">
      <b>{{calculatedStatisticData.min}}</b>
      <span>Min</span>
    </div>
    <div class="calc-box">
      <b>{{calculatedStatisticData.mean}}</b>
      <span>Mean</span>
    </div>
    <div class="calc-box">
      <b>{{calculatedStatisticData.median}}</b>
      <span>Median</span>
    </div>
   
  </div>
</div>