<div class="row">
  <div class="col-12">
    <h2>Charity Foundations</h2>
  </div>

  <div class="col-12" *ngIf="funds.length==0">
    <i>There are no charity foundations yet</i>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">

  <div *ngFor="let fund of funds" class="col">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">{{fund.name}}</h2>
        <p class="card-text" style="overflow: hidden; text-overflow: ellipsis;">{{fund.description}}
        </p>
        <a href={{fund.link}} class="card-link" target="_blank">Visit website</a>
      </div>
    </div>
  </div>

</div>